{sub_dirs, ["deps","rel"]}.
{require_otp_vsn, "R16B"}.
{erl_opts,[{parse_transform, lager_transform}]}.

{deps, [
 {riakc, "1.4.1", {git, "git://github.com/basho/riak-erlang-client.git", "HEAD"}},
 {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}},
 {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", "rabbitmq-3.0.2"}},
 {ibrowse, "4.0.1", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
 {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
 {log4erl, "0.9.0", {git, "git://github.com/ahmednawras/log4erl.git", "HEAD"}}
]}.
